<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %}Hélio Correia</title>
    {%- block head -%}
    {% endblock %}
  </head>
  <body>
    {{ content | safe }}
  </body>
  {%- block footer -%}
  {% endblock %}
</html>
