<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %}Hélio Correia</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,800" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    {%- block head -%}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-195231-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-195231-5');
    </script>
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
  {%- block footer -%}
  {% endblock %}
</html>
