$primary-color: #fd256e;

body {
  background-color: #f3f3f3;
  border: solid $primary-color;
  border-width: 0.25em 0 1em;
  color: #3b3b3b;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
  line-height: 1.4;
  margin: 0;
  padding-bottom: 2em;
}

main {
  margin: 0 auto;
  width: 40em;
}

h1,
h2,
h3 {
  color: rgb(59, 59, 59);
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3rem;
  margin: 2em 0;
  text-align: center;

  &::before {
    content: "Howdy! I'm";
    display: block;
    font-size: 2rem;
    font-weight: 100;
  }

  &::after {
    color: $primary-color;
    content: '.';
  }

  + p {
    font-size: 1.25rem;
    padding-top: 2em;
    position: relative;
    text-align: center;

    &::before {
      $width: 2em;
      background: #3b3b3b;
      content: '';
      display: inline-block;
      height: 1px;
      left: 50%;
      margin-left: $width/-2;
      position: absolute;
      top: 0;
      width: $width;
      z-index: 1;
    }
  }
}

h2 {
  margin-top: 5rem;
}

h3 {
  margin-top: 2.5rem;
}
