@import 'fonts';

$primary-color: #5710c6;
$secondary-color: #c2a5a5;

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  background: $primary-color;
}

body {
  background: $primary-color;
  color: #4c4c4c;
  font-family: 'Raleway', system-ui, -apple-system, sans-serif;
  font-size: 1.125rem;
  line-height: 1.3636;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 83.3125rem;
  padding: 0 1rem;
}

section {
  display: grid;
  grid-gap: 0 1.25rem;
  grid-template-columns: repeat(24, 1fr);
  margin: 0;
  padding: 2rem 0;
}

h2 {
  color: #fff;
  font-size: 2.625rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1.375rem;
  font-weight: bold;
}

a {
  color: $primary-color;
  font-weight: bold;
  text-decoration: none;
}

li {
  font-size: 1.125rem;
  line-height: 2.5;
}

.credit-heroimg {
  display: none;
}

#intro,
#disclaimer {
  color: #fff;
  min-height: 1vm;

  * {
    grid-column: 3 / 23;
  }

  a {
    color: #fff;
  }
}

#about,
#skills,
#contact {
  background: #fff;

  * {
    grid-column: 10 / 23;
  }

  h2 {
    color: #000;
    grid-column: 3 / 8;

    &::after {
      content: '.';
    }
  }
}

#intro {
  padding: 12rem 0 8rem;

  h2 {
    font-size: 3.75rem;
    margin: 0;
  }

  p {
    font-size: 2.8125rem;
    margin-top: 1em;
  }
}

#about {
  border-radius: 4px 4px 0 0;
  padding-top: 12rem;
}

#contact {
  padding-bottom: 8rem;

  ul {
    list-style: none;
    margin: 0;
  }

  li + li {
    border-top: 1px solid #dadada;
  }

  a {
    display: block;
    position: relative;
    transition: padding 350ms cubic-bezier(0.22, 0.61, 0.36, 1);

    &::after {
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/></svg>') no-repeat top center;
      background-size: cover;
      content: '';
      font-size: 24px;
      height: 1em;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1em;
    }

    &:hover {
      background: $primary-color;
      color: #fff;
      padding-left: 1em;

      &::after {
        display: none;
      }
    }
  }
}

#disclaimer {
  background: #000;

  * {
    font-size: 1rem;
  }

  p {
    margin: 1em 0 0;
  }
}

/* hero image */
@supports (mix-blend-mode: luminosity) {
  main {
    position: relative;
    z-index: 1;

    &::before {
      background: url('../../img/andrew-neel-308138-unsplash-low.jpg') no-repeat top center;
      background-size: cover;
      box-shadow: inset 0 0 40px 20px $primary-color;
      content: '';
      display: block;
      height: 0;
      left: 0;
      mix-blend-mode: luminosity;
      opacity: 0.1;
      padding-bottom: 65.25%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  .credit-heroimg {
    display: block;
  }
}
